<% # NOTE must be opened %>
<%#= render_content_page(@page, {
      :hide_sections => local_assigns[:hide_sections],
      :can_use_fallback => !local_assigns[:show_empty_sections] && !local_assigns[:remove_automatic_sections]
    }) %>
<%#= render '/refinery/draft_page_message' unless @page.nil? or @page.live? -%>

<div id="slide-show" class="gallery">
  <ul class="galleryBar">
    <li><a href="/assets/picture1.jpg" title="demo #1."><%= image_tag "picture1.jpg", :title => "image1", :height => 55, :width => 55 %></a></li>
    <li><a href="/assets/picture2.jpg" title="demo #2."><%= image_tag "picture2.jpg", :title => "image2", :height => 55, :width => 55 %></a></li>
  </ul>
</div>

<script type="text/javascript">
  $("#slide-show").gallery({
    interval: 5000,
    height: '400px'
  });
</script>
