<h1 id='logo'>
  <%= link_to image_tag("rails.png"), refinery.root_path, :style => "float:left;" %>
  <%#= link_to Refinery::Core.site_name, refinery.root_path %>
</h1>

<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
