<%
  # Collect the root items.
  # ::Refinery::Menu is smart enough to remember all of the items in the original collection.
  if (roots = local_assigns[:roots] || (collection ||= refinery_menu_pages).roots).present?
    dom_id ||= 'menu'
    css = [(css || 'menu clearfix')].flatten.join(' ')
    hide_children = Refinery::Core.menu_hide_children if hide_children.nil?
-%>

<style>
  ul.top-menu li{
    float: left;
    margin-right: 10px;
    list-style-type: none;
  }

  ul.dropdown-menu{
    list-style-type: none;
    float:left;
  }
</style>

<nav id='<%= dom_id %>' class='<%= css %>' style="float:left;">
  <ul class="top-menu">
    <% # NOTE must be opened %>
    <%#= render :partial => '/refinery/menu_branch', :collection => roots,
               :locals => {
                 :hide_children => hide_children,
                 :sibling_count => (roots.length - 1),
                 :menu_levels => local_assigns[:menu_levels],
                 :apply_css => true #if you don't care about class='first' class='last' or class='selected' set apply_css to false for speed.
               } -%>
    <li><a href="#">HOME</a></li>
    <li><a href="#">OUR HOTELS</a></li>
    <li><a href="#">ROOMS & SUITE</a></li>
    <li><a href="#">FACILITIES</a></li>
    <li><a href="#">GALLERY</a></li>
  </ul>
</nav>

<div style="float:left">
  <ul class="dropdown-menu">
    <% count = 0 %>
    <% Refinery::I18n.frontend_locales.each do |frontend_locale| %>
      <% if count == 0 %>
        <li>
            <%= link_to Refinery::I18n.locales[frontend_locale], {:locale => frontend_locale.to_s} %>
        </li>
      <% end %>
      <% count += 1 %>
    <% end %>
  </ul>

  <ul class="dropdown-menu">
    <li>Rupiah</li>
  </ul>
</div>

<div style="clear:both"></div>
<% end -%>
